/* menu bar */
.topnav i{
   display: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
margin: 5px;

}


@media screen and (max-width:600px){
   .topnav a:not(:first-child){
      display: none;
   }
   .topnav i{
      display: block;
      text-align: center;
    
   }

header nav{
   flex-direction: column;
   justify-content: center;
   align-items: center;
  background: black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.searchBox{
   padding: 5px;
   width: 120px;
   margin-right:auto;
}
 
}

@media screen and(max-width:600px){
   .topnav.responsive{
      position: relative;
   }
   .topnav.responsive i{
      position: absolute;
      top: 0;
      right: 0;
   }
   .topnav.responsive a{
      float: none;
      display: block;
      text-align:center; 
      padding: 5px;  
   }
}
